[submodule "libraries/two-way-gridview"]
	path = libraries/two-way-gridview
	url = git@github.com:robotbrain/two-way-gridview.git
[submodule "libraries/twoway-view"]
	path = libraries/twoway-view
	url = git@github.com:robotbrain/twoway-view.git
